# Terraform state
terraform.tfstate
terraform.tfstate.backup

# Crash log
crash.log

# Terraform working dir
.terraform/

# Sensitive variable definitions
*.tfvars

# IDE / OS stuff
*.log
.DS_Store
*.swp

# zip files
*.zip

#Cache python files
__pycache__/

# Certificados privados
*.pem
*.key
*.crt
*.jks

# Dependencias
node_modules/

# Builds
build/
dist/
out/

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*